@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #324ca8;
  --secondary-color: #9d32a8;
  --nav-color: #6232a8;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

nav {
  background-color: var(--nav-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

nav p {
  margin: 30px;
}

nav h3 {
  margin-top: 50px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  transform: scale(1.1);
}

.container {
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
  padding: 40px 15px;
  text-align: center;
  height: 100vh;
}

button {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}

button:focus {
  outline: none;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  left: 20px;
}

.title {
  margin-bottom: 40px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #fff;
  height: 50px;
  width: 50px;
  margin: 20px 20px;
  border-radius: 5px;
}

.box.selected {
  background-color: var(--secondary-color);
}